* {
  box-sizing: border-box;
}

.loginForm-container {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(89, 117, 196);
  border-radius: 10px;

  .login-title {
    font-size: 50px;
    margin: 40px 0 50px 0;
  }

  .login-email,
  .login-pwd {
    width: 300px;
    height: 40px;
    border: 1px solid rgb(89, 117, 196);
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
  }
  .login-button {
    background-color: rgb(89, 117, 196);
    color: white;
    width: 300px;
    height: 50px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    margin: 20px 0 30px 0;
  }
}
